/* Background for retro page */
.g_bgRestroDetails{
  background-color: #ED5A6B !important;
}
.g_bgPrimary{
  background-color: #ED5A6B !important;
}
.g_borderPrimary{
  border-color: #ED5A6B !important;
}
.g_cPrimary{
  color: #ED5A6B !important;
}
.g_bgWhite{
  background-color: #ffffff !important;
}

.g_cWhite{
  color: #ffffff !important;
}